<!DOCTYPE html>
<html lang="en">
<head>
	<title>ورود</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href=""/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100 IRANSans">
			<div class="wrap-login100 IRANSans">
				<form class="login100-form validate-form IRANSans">
					<span class="IRANSans login100-form-title p-b-26 IRANSans">
						مدرسه سراج
					</span>

					<div class="wrap-input100 validate-input" data-validate = "ایمیل را به صورت: a@b.c">
						<input class="IRANSans input100" type="text" name="email">
						<span class="IRANSans focus-input100" data-placeholder="ایمیل"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="رمز عبور خود را وارد کنید">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass">
						<span class="IRANSans focus-input100" data-placeholder="رمز عبور"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="IRANSans login100-form-btn">
								ورود
							</button>
						</div>
					</div>
					<!-- 
					<div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="#">
							Sign Up
						</a>
					</div> -->
				</form>
			</div>
		</div>
	</div>
	

	
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>